body{
    margin:0;
}
.header{
    display:flex;
    background-color: #8743cc;
    margin-bottom: 1em;
    justify-content: center;
    box-shadow: 0px 2px 5px;
}
.logo{
    width: 200px;
    
}

.title{
    display:flex;
    justify-content: center;
    color:#8743cc;
}

.card{
    margin: 4em;
    background-color: #E7DAF9;
}
.cardText{
    padding-right: 2em;
}
.cardContent{
    display:flex;
}

.info{
    background-color: #8743cc;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 1.5s;
    box-shadow: 0px 0px 2px;
}
.infoText{
    display: none;
}
.info:hover{
    background-color: #C094D6;
}


.open{
    display: flex;
}